.containerMenu{
    height: 100vh;
    width: 70vw;
    overflow-y: scroll;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 1s;
    z-index: 1000;
}

.active{
    transform: translateX(0);
}